<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Todo</title>
</head>
<body>
<h1 th:text="${todo.id == null} ? 'New Todo' : 'Edit Todo'"></h1>
<form th:action="@{/todo}" th:object="${todo}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Task:</label>
        <input type="text" th:field="*{task}" required/>
    </div>
    <div>
        <label>Completed:</label>
        <input type="checkbox" th:field="*{completed}"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a href="/">Back to List</a>
</body>
</html>
